* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-screen {
  display: flex;
  justify-content: center;
  background-color: #011e11;
  background-size: contain;
  background-repeat: repeat;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}

.left-container h3 {
  font-family: "Bebas Neue", sans-serif;
  color: #12ff46;
  padding: 76.8px;
  font-size: 20px;
  letter-spacing: 2px;
}

.left-container h1 {
  width: 700px;
  padding-left: 76.8px;
  margin-top: 100px;
  font-size: 70px;
  font-family: "DM Sans", sans-serif;
}

.read-more-button {
  height: 68.3px;
  width: 431.2px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #12ff46;
  border: none;
  margin-left: 76.8px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 22px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.right-container img {
  width: 700px;
  height: 830px;
  padding: 40px;
  size: 500px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (orientation: portrait) and (max-width: 1321px) {
  .right-container img {
    display: none;
  }
}
